<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClJ7ZYon5Ih7d3ew_TIcFhhB3CIkYUscw</string>
	<key>GCM_SENDER_ID</key>
	<string>881513089171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cairoClinicsFinder</string>
	<key>PROJECT_ID</key>
	<string>cairo-clinics-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>cairo-clinics-finder.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881513089171:ios:988367bf1454564338e566</string>
</dict>
</plist>